*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url('d0ea54e5cf2cdfdb3e450a1e311c05ef.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.hall{
  position: fixed;
  width: 100%;
  top: 0;

}
.bell{
  background-color: #fff;
  height: 25px;
  text-align: center;
  /* position: fixed; */
}

.bell marquee{
  margin-top: 5px;
  font-size: 15px; 
  font-family: 'Times New Roman', Times, serif;
}

.head{
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  width: 100%;
  /* position: fixed; */
}

.head h2{
  margin-top: 20px;
  margin-left: 40px;
  width: 350px;
}

.head input{
  margin-top: 20px;
  margin-left: 70px; 
  width: 50%;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* flex: 1; */
  border: none;
  outline: 0;
}

.head button{
  background: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  /* padding: 15px 30px; */
  height: 40px;
  width: 6%;
  margin-top: 20px;
}

ul{
  float: left;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 600px;
  width: 650px;
}
li{
  float: left;
  font-size: 18px;
  /* padding-left: 40px; */
  display: flex;
}

.head a{
  display: flex;
  color: black;
  font-size: 15px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover{
  text-decoration: underline;
}


.head i{
  /* margin-top: 20px; */
  margin-right: 50px;
}

/* icon start*/
.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-indicator {
  position: absolute;
  top: 2px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 6px 8px;
  font-size: 12px;
  /* display: none; */
  margin-right: 60px;
}

.cart-icon:hover .cart-indicator {
  display: block;
  animation: pulse 1s infinite alternate; /* Example pulse animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
/* icon end */
.resu{
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  margin-top: 100px;
}

.test{
  margin-top: 50px;
}

.test h1{
  color: orange;
}

.test p{
  color: #fff;
  margin-top: 10px;
  font-size: 20px;
}

/* icons */
.sec{
  background: #fff;
  height: 50px;
}

.sec01{
  margin-right: 700px;
}
.fa {
  padding: 10px;
  /* font-size: 30px; */
  width: 15px;
  text-align: center;
  float: right;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
/* icons */
